.DS_Store



#Firebase config
mobile/artconnects/www/fb_init.js
mobile/artconnects/www/index.js
mobile/artconnects/config.xml
mobile/artconnects/plugins
mobile/artconnects/platforms
mobile/artconnects/ul_web_hooks
mobile/artconnects/package-lock.json
mobile/artconnects/android.keystore